* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#dogImageContainer{
  position: absolute;
  top: 50px;
  left: 20px;
  width: 200px;
  height: 400px;
  
}
.dogImage{
    width: 100%;
    height: auto;
    padding-left: 0%;
      width: 200px;
  height: 500px;
}

.search-container {
  display: flex;
  align-items: center;
  max-width: 400px;
  margin: 20px auto;
  border:2px solid black;
  border-radius: 25px;
  overflow: hidden;
  transition: border-color 0.3s ease;
  color: black;
  
}
.search-input {
  flex: 1;
  padding: 10px 15px;
  border: none;
  outline: none;
  font-size: 16px;
  background-color: transparent;
  color: green;
  
}
.search-button{
  padding: 10px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: background-color 0.3s ease;
  color: green;

}
.drinks {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    color: black;
}

.drinks > li  {
    flex: 1 1 calc(30.333% - 16px);
    box-sizing: border-box;
    text-align: center;
    color: rgb(70, 3, 28);
    text-decoration: none;
    font-size: 20px;
}
.drinks > li a{
    color: rgb(172, 85, 71);
    text-decoration: none;
    flex: 1 1 calc(30.333% - 16px);
    font-size: 22px;
}
dialog {
     position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);    width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

dialog::backdrop {
   background-color: rgba(0, 0, 0, 0.5);
}

#close-dialog {
    margin-top: 10px;
    margin-right: 10px;
    padding: 5px 10px;
    background-color: #000000;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;            
    position: absolute;
    top: 0;
    right: 0;
    
}

#close-dialog:hover {
    background-color: #0056b3;
}
body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url("https://shopthemansion.com/cdn/shop/products/Martini-and-Friesop2_6c6b107a-da67-47c5-b74f-15b9aacb3c89.jpg?v=1648573088&width=675");
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}
    
/*
//blue martini: https://www.allieburkesport.com/cdn/shop/products/MART1K_3e5ef236-9074-4bff-b71c-14c837600b88.jpg?v=1678674769
// expreso martini with bow image : https://www.altardstate.com/dw/image/v2/BDDX_PRD/on/demandware.static/-/Sites-as_catalog/default/dw9ad1439a/image/004312_RIAS900_BROWN_00.JPG
//martini and fries : https://shopthemansion.com/cdn/shop/products/Martini-and-Friesop2_6c6b107a-da67-47c5-b74f-15b9aacb3c89.jpg?v=1648573088&width=675

*/